@import '~normalize.css';

html {
  height: 100%;
  
  body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  
    main {
      max-width: 960px;
      margin: 0 auto;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
}