.dashboard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .dashboard__tiles-group {
    box-sizing: border-box;

    &--left {
      width: 40%;
    }

    &--right {
      width: 60%;
      padding-left: 20px;
    }
  }

  .dashboard-tile {
    width: 100%;
    background-color: #1fc8db;
    padding: 20px;
    box-sizing: border-box;
    background-image: linear-gradient(141deg, #2cb5e8 51%, #1fc8db 100%);
    position: relative;
    border-radius: 4px;

    &--top-offset {
      margin-top: 20px;
    }

    &--race-history {
      height: 100%;
    }

    .dashboard-tile__header {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 15px;
      background-color: white;
      border-radius: 8px;
      transform: translate(-20px, -6px);

      h3 {    
        margin: 0;
      }
    }
  }
}

form.create-race-form {
  margin: 20px auto 0;

  label {
    font-size: 14px;
  }

  .input-with-button {
    display: flex;
    height: 40px;
    border-radius: 4px;
    margin-top: 10px;

    input {
      max-width: 80px;
      height: 100%;
      border: 0;
      box-sizing: border-box;
      padding: 0 10px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      outline: 0;

      &:focus {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
      }
    }

    button {
      height: 100%;
      border: 0;
      flex-grow: 1;
      cursor: pointer;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      outline: 0;
      background-image: linear-gradient(180deg, #e0e0e0 51%, #d2d2d2 100%);

      &:hover,
      &:focus {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
      }
    }
  }
}