header {
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #1fc8db 51%, #2cb5e8 75%);
  height: 55px;

  nav {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

    ul {
      width: 100%;
      display: flex;
      margin: 0;
      list-style-type: none;
      padding-inline-start: 0;

      li {
        display: inline-block;

        &:not(:first-child) {
          margin-left: 20px;
        }

        &.sign-out {
          margin-left: auto;
        }

        a {
          text-transform: uppercase;
          text-decoration: none;
          cursor: pointer;
          color: #fff;

          &:hover,
          &.active {
            color: #006780;
          }
        }
      }
    }
  }
}